NEO4J_SCHEME=bolt
NEO4J_PORT=7687
NEO4J_DATABASE=pdnet
NEO4J_HOST=
NEO4J_USERNAME=
NEO4J_PASSWORD=
# Only if want to change default 3000 port number
# PORT=<port-number>

### Graph Configuration
NODES_LIMIT=5000 #can change nodes limit
EDGES_LIMIT=10000 #can change edges limit